@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
  .mb_show {
    display: block;
  }
  #quizzie {
    /* width: 90%; */
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #quizzie .question-wrap {
    font-size: 0.8rem;
  }
  #quizzie ul li.quiz-answer {
    max-width: 600px;
  }
  #quizzie .answer-wrap {
    width: 100%;
    margin: auto;
  }
  #quizzie ul li.quiz-answer .answer-wrap img {
    width: 100%;
    left: 0%;
  }
  .quiz-step .quiz-answer.ans1 {
    bottom: 28%;
  }
  .quiz-step .quiz-answer.ans2 {
    bottom: 20%;
  }
  .quiz-step .quiz-answer.ans3 {
    bottom: 12%;
  }
  .quiz-step .quiz-answer.ans4 {
    bottom: 4%;
  }
  #results .back_to_quiz {
    max-width: 300px;
    position: absolute;
    left: unset;
    right: 15%;
    bottom: 32%;
    transform: unset;
  }

  #results .back_to_quiz img {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 200px;
  }

  .share {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    bottom: 20%;
  }

  .share_fb {
    left: 60%;
  }

  .share_link {
    left: 78%;
  }

  .share_fb img,
  .share_link img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .share_fb a {
    display: block;
    /* border: solid red 2px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
